.all-industries-links {
  text-align: center;

  .container {
    @media (max-width: 600px) {
      padding: 20px 0;
    }
  }

  .links-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;

    .list-item {
      width: calc(100% / 6);
      padding: 10px;
      @media (max-width: 900px) {
        padding: 5px;
        width: calc(100% / 3);
      }

      .permalink {
        display: block;

        .icon-wrap {
          text-align: center;
          color: $c-main-first;
          font-size: 60px;
          width: 130px;
          height: 130px;
          line-height: 130px;
          border-radius: 50%;
          background: #fff;
          margin: 0 auto;
          background: $c-border;

          @media (max-width: 600px) {
            width: 80px;
            height: 80px;
            font-size: 40px;
            line-height: 80px;
          }

          .fa {
            margin-right: 0;
          }
        }

        h3 {
          text-align: center;
          font: 400 14px/1.3 $font-text;
        }
      }
    }
  }

  .btn {
    margin: 30px auto 30px;
  }
}