.banner-default {
  background: no-repeat center center / cover fixed;
  color: #fff;
  min-height: 420px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  .container {
    padding: 80px 20px 80px;
    text-align: center;
  }

  .title {
    text-transform: none;
    color: #fff;
    font: 400 60px/1.2 $font-title;
    max-width: 800px;
    margin: 0 auto 30px;
  }

  .links-wrap {
    margin-bottom: 10px;

    .btn_large {
      background: $fc-btn-special;

      &:hover {
        color: $fc-btn-special;
        border-color: $fc-btn-special;
        background: transparent;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .banner-default {
    .title {
      font-size: 44px;
    }

    .btn_large {
      min-width: 190px;
    }
  }
}

@media screen and (max-width: 600px) {
  .banner-default {
    min-height: 0;
    background: no-repeat 55% 50% / cover scroll;

    .title {
      font-size: 32px;
    }

    .btn_large {
      font-size: 15px;
      min-width: 120px;
    }
  }
}