.companies-list-block {
  background: #f3f6f7;

  .container {
    padding: 50px 20px;
  }

  .title {
    color: $fc-text-darker;
    font: 600 30px/1.5 Gilroy, sans-serif;
    text-align: center;
    max-width: 700px;
    margin: 0 auto 30px;
  }

  .companies-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;


    .single-company {
      padding: 20px 5px;
      width: 20%;
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: auto;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .companies-list-block {
    .companies-list {
      .single-company {
        width: 50%;
      }
    }
  }
}