.get-started-block {
  background: $c-main-second;

  .container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }

  .text-wrap {
    width: 65%;
    padding-right: 20px;

    .title {
      text-align: left;
      color: #fff;
      font: 400 60px/1.2 Open Sans;
      margin: 20px 0;
    }

    .sub-title {
      color: #fff;
      font: 200 25px/1.2 $font-title, sans-serif;
    }
  }

  .btn-wrap {
    width: 35%;
    text-align: left;
    padding-left: 20px;

    .btn_large {
      font-weight: bold;
      background: transparent;
      border: 2px solid #fff;
      transition: .3s;

      &:hover {
        color: $c-main-second;
        background: #fff;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .get-started-block {
    .text-wrap,
    .btn-wrap {
      width: 100%;
      padding: 0;
      text-align: center;

      .title {
        font: 600 30px/1.2 $font-title, sans-serif;
        text-align: center;
      }

      .sub-title {
        font: 200 18px/1.2 $font-title, sans-serif;
        text-align: center;
      }
    }
  }
}