.social-links {
  margin: 0;
  padding: 20px 0 0;
  text-align: center;

  li {
    display: inline-block;
    margin-right: 7px;

    &:last-child {
      margin-right: 0;
    }

    a {
      background: $fc-text-darker;
      display: block;
      width:45px;
      height: 45px;
      border-radius: 50%;
      font-size: 20px;
      text-align: center;
      vertical-align: middle;
      transition: .3s;

      .fa {
        line-height: 45px;
        color: $fc-text-lighter;
        margin-right: 0;
      }
    }

    &.twitter {
      a:hover {
        background: $c-twitter;
      }
    }

    &.instagram {
      a:hover {
        background: $c-instagram;
      }
    }

    &.facebook {
      a:hover {
        background: $c-facebook;
      }
    }

    &.linkedin {
      a:hover {
        background: $c-linkedin;
      }
    }
  }
}