.page-template-landing {
  .sticky-wrapper,
  .main-header,
  .pre-footer {
    display: none;
  }
  
  .prefooter-alternative {
    background: $c-main-first;

    .custom-logo-link {
      max-width: 200px;
      display: block;
      float: left;
    }

    .main-nav {
      margin-top: 10px;
      float: right;

      .menu {
        margin: 0;
        padding: 0;

        li {
          margin-right: 20px;
          display: inline-block;
          list-style: none;

          a {
            color: #fff;

            &:hover {
              color: $c-main-second;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .page-template-landing {
    .prefooter-alternative {
      .custom-logo-link,
      .main-nav {
        text-align: center;
        float: none;
      }

      .custom-logo-link {
        margin: 0 auto;
      }
    }
  }
}