.two-column-layout {
  max-width: $max-width-default;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  padding: 20px 0;

  #sidebar {
    width: 27%;

    .container {
      padding: 20px 10px 20px 20px;
    }

    .widget-area {
      margin-top: 20px;
    }

    ul.menu {
      padding: 0;
      margin: 0;
      border-radius: 5px;
      overflow: hidden;

      >li {
        list-style: none;
        border-bottom: 1px solid $fc-text-lighter;
        margin-bottom: 0;

        &.current-menu-item {
          a {
            background: $c-main-first;
          }
        }

        >a {
          color: #fff;
          padding: 5px 30px 5px 10px;
          display: block;
          background: $fc-text-darker;
          position: relative;
          transition: .3s;

          &::after {
            position: absolute;
            width: 12px;
            height: 14px;
            padding-left: 2px;
            color: #fff;
            border-radius: 50%;
            top: calc(50% - 7px);
            right: 10px;
            text-align: center;
            vertical-align: middle;
            font: normal normal normal 14px/1 FontAwesome;
            display: block;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            content: '\f0da';
          }

          &:hover {
            background: $c-main-first;
          }
        }
      }
    }

    .dynamic-anchor-menu {
      margin: 0;
      padding: 0;
      background: $c-main-first;

      li {
        margin-bottom: 1px;
        list-style: circle;
        border-top: 1px solid $fc-text-lighter;

        a {
          padding: 5px 5px 5px 25px;
          font-size: 14px;
          display: block;
          color: #fff;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  #main {
    width: 73%;

    .container {
      padding: 20px 20px 20px 10px;
    }
  }
}

@media screen and (max-width: 800px ) {
  .two-column-layout {
    padding: 0;

    #sidebar {
      width: 100%;

      .container {
        padding: 20px 20px 10px;
      }

      .menu {
        opacity: 0;
      }

      .dynamic-anchor-menu {
        display: none;
      }
    }

    #main {
      width: 100%;

      .container {
        padding: 10px 20px 20px;
      }
    }
  }
}