.pre-footer {
  color: $fc-text-lighter;
  background: $c-bg-dark;

  .container {
    display: flex;
    flex-flow: row wrap;
  }

  .widget-area {
    width: 25%;

    .menu {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        margin-bottom: 3px;

        a {
          color: $c-main-third;

          &:hover {
            color: $c-main-second;
          }
        }
      }
    }

    &.widget-area_socials {
      .social-links {
        text-align: left;
      }
    }

    .widget-area-title {
      text-transform: uppercase;
      color: $fc-text-alt;
      font: 600 16px/1.2 $font-title, sans-serif;
      margin-bottom: 15px;
    }
  }
}

.main-footer {
  background: $c-main-first;

  .container {
    border-top: 1px solid $fc-text-darker;
    padding: 5px 20px;
  }

  .copy {
    color: $fc-text-lighter;
    font: 300 12px/1.2 $font-text;
    text-align: center;

    a {
      text-decoration: none;
      color: inherit;
      transition: .3s;
      color: $c-main-second;

      &:hover {
        opacity: .7;
      }
    }
  }
}

.scroll-top-btn {
  color: $c-main-first;
  text-shadow: 0 0 20px #fff;
  line-height: 1;
  position: fixed;
  font-size: 48px;
  bottom: 80px;
  right: 20px;
  cursor: pointer;
  transform: rotateX(90deg);
  transition: .3s;

  .fa {
    margin-right: 0;
    line-height: 1;
  }

  &.visible {
    transform: rotateX(0deg);
  }
}

@media screen and (max-width: 1100px) {
  .pre-footer .widget-area {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .pre-footer .widget-area {
      width: 100%;
  }
}