.main-header {
  background: $c-main-first;
  border-bottom: 1px solid $fc-text-darker;
  z-index: 9999 !important;
  position: relative;
  /*
    hotfix for sticky header
  */
  margin-top: -1px;

  .header-top {
    text-align: right;
    background: $c-main-third;

    .container {
      padding: 5px 20px 5px;
    }

    .additional-links {
      margin: 0;
      padding: 0;
      list-style: none;

      .list-item {
        display: inline-block;

        &:not(:last-child) {
          margin-right: 10px;

          &::after {
            display: inline-block;
            margin-left: 10px;
            content: '|';
          }
        }
      }
    }

    a {
      color: $c-main-first;

      &:hover {
        color: $c-main-second;
      }
    }
  }

  .header-bottom {
    .container {
      transition: .3s;
      padding-bottom: 0;
    }

    &.transformed {
      .container {
        padding: 10px 20px 0;
        transition: .3s;
      }

      .custom-logo-link {
        max-width: 280px;
      }
    }

    .custom-logo-link {
      max-width: 320px;
      display: block;
      float: left;

      img {
        height: auto;
        width: 100%;
        display: block;
      }
    }

    .main-nav-wrapper {
      float: right;
      margin-top: 23px;
      transition: .3s;

      .main-nav {
        >.menu {
          margin: 0;
          padding: 0;

          >.menu-item {
            position: relative;
            padding: 0 0 20px;
            margin-bottom: 0;
            list-style: none;
            display: inline-block;
            margin-left: 20px;

            &.menu-item-has-children::after {
              display: none;
              content: '';
              position: absolute;
              width: 0;
              height: 0;
              border-bottom: 10px solid $c-bg-special;
              border-left: 10px solid transparent;
              border-right: 10px solid transparent;
              left: calc(50% - 10px);
              bottom: 0;
            }

            &:first-child {
              margin-left: 60px;
            }

            &.current-menu-item {
              a {
                color: $c-main-second;
              }
            }

            a {
              color: #fff;
              font: 200 20px/1.2 $font-special, sans-serif;
              transition: .3s;
            }

            @media (min-width: 1100px) {
              &:hover{
                color: $c-main-second;

                &::after {
                  display: block;
                }

                >.sub-menu {
                  display: block;

                  &.second-level-menu {
                    display: flex;
                  }
                }
              }
            }

            >.sub-menu {
              display: none;
              text-align: left;
              position: absolute;
              top: 100%;
              padding: 0;
              right: 0;
              list-style: none;
              background: #fff;
              box-shadow: 0 1px 1px $c-main-first;

              >li {
                margin-bottom: 0;
                min-width: 300px;

                a {
                  //background: rgba(243, 245, 246, .8);
                  font-size: 1em;
                  font-weight: 400;
                  text-transform: capitalize;
                  color: $c-main-first;
                  padding: 8px 15px 8px 8px;
                  display: block;
                  //border-bottom: 1px solid $c-border;

                  &:hover,
                  &.active {
                    background: rgba(243, 245, 246, 1);
                    color: $c-main-second;
                  }
                }
              }
            }
          }
        }
      }
    }

    .social-links {
      display: none;
    }

    .nav-btn {
      display: none;
      font-weight: 100;
      font-size: 36px;
      color: #fff;
      text-align: center;
      float: right;
      cursor: pointer;

      .fa {
        margin-right: 0;
      }
    }

    .close-btn {
      position: absolute;
      display: none;
      top: 10px;
      right: 20px;
      color: $c-main-first;
      font-size: 36px;
      cursor: pointer;

      .fa {
        margin-right: 0;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .main-header {
    .header-bottom {
      .main-nav-wrapper {
        width: 100%;
        height: 100%;
        background: $fc-text-lighter;
        margin-top: 0;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        top: -100%;
        left: 0;
        transition: .8s;
        z-index: 999;

        &.active-mobile {
          top: 0;
        }

        .flex-wrapper {
          width: 480px;
          max-height: 80%;
          overflow-y: scroll;
        }

        .main-nav {
          display: flex;
          justify-content: center;
          align-items: center;

          >.menu {
            width: 90%;
            max-width: 480px;

            >.menu-item:first-child {
              margin-left: 0;
            }

            >.menu-item {
              text-align: center;
              display: block;
              margin: 0 auto 4px;
              padding-bottom: 0;

              &.menu-item-has-children {
                &>a::after {
                  position: absolute;
                  right: 0;
                  top: 0;
                  height: 100%;
                  width: 50px;
                  border-top-right-radius: 5px;
                  border-bottom-right-radius: 5px;
                  vertical-align: middle;
                  display: inline-block;
                  font: normal normal normal 14px/1 FontAwesome;
                  line-height: 47px;
                  background: $c-main-first;
                  content: '\f0d7';
                }
              }

              >.sub-menu {
                position: static;
                box-shadow: none;
              }

              &:last-child {
                margin-left: 0;

                a {
                  width: 100%;
                  background: $fc-text-darker;
                  font-size: 16px;
                  font-weight: 700;
                  font-family: $font-special;

                  &:hover {
                    border-color: $c-main-first;
                    background: $c-main-first;
                  }
                }
              }

              &.current-menu-item {
                a {
                  background: $c-main-first;
                  color: #fff;
                }
              }

              &>a {
                position: relative;
                border-radius: 5px;
                background: $fc-text-darker;
                display: block;
                font-size: 16px;
                font-weight: bold;
                z-index: 9000;
                text-transform: uppercase;
                padding: 13px 5px;

                &:hover {
                  color: #fff;
                  background: $fc-text-darker;
                }
              }
            }
          }
        }

        .close-btn {
          display: block;
        }
      }

      .social-links {
        padding-top: 60px;
        display: block;

        .twitter {
          a {
            background: $c-main-second;
          }
        }

        .instagram {
          a {
            background: $c-main-second;
          }
        }

        .facebook {
          a {
            background: $c-main-second;
          }
        }

        .linkedin {
          a {
            background: $c-main-second;
          }
        }
      }

      .nav-btn {
        display: block;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .main-header {
    .custom-logo-link {
      max-width: 80% !important;
    }
  }
}

.second-level-menu {
  li {
    margin-bottom: 0;
  }

  .group-title {
    font-size: 16px !important;
    text-align: center;
    cursor: default;
  }

  .third-level-menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .video-link-wrapper {
    position: absolute;
    top: 100%;
    width: 100%;
    @media (max-width: 1100px) {
      position: static;
    }

    .video-link {
      text-align: center;
      font-size: 22px !important;
      color: #fff !important;
      background: $fc-text-darker !important;
      border-bottom: none !important;

      &:hover {
        background: $c-main-first !important;
      }
    }
  }
}