.blocks-with-images {
  .blocks-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;

    .single-block {
      width: 50%;
      padding: 10px;
      @media (max-width: 900px) {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px 0;
        width: 100%;
      }

      .wrap {
        padding: 10px 20px 40px;
        border: 3px solid $c-border;
        position: relative;
        height: 100%;

        .image-container {
          text-align: right;
          &.fa-icon-in {
            text-align: center;
            color: #2c3744;
            font-size: 60px;
            width: 130px;
            height: 130px;
            line-height: 130px;
            border-radius: 50%;
            background: #fff;
            margin: 0 0 0 auto;
            background: #ededed;

            .fa {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}