.features-mass {
  padding: 0 20px;
  header {
    text-align: center;
    font: 400 40px/1.1 $font-text;
  }

  .content {

    .feature-item {
      list-style: none;
      padding: 0;
      max-width: 880px;
      margin: auto;

      li {
        background: $c-bg-light-gray;
        border-radius: 15px;

        .left {
          float: left;

          .feature-img {
            width: 100%;
            height: 100%;
            overflow: hidden;
            padding: 30px;

            img {
              max-width: 183px;
              max-height: 183px;
              width: 100%;
              border-radius: 50%;
            }
          }
        }

        .right {
          width: calc(100% - 250px);
          float: right;
          padding: 15px;

          .feature-title {
            h3 {
              font: 700 35px/1.2 $font-text;
              margin: 15px 0 7px;
            }
            h4 {
              font: 400 18px/1.4 $font-text;
              margin: 7px 0;
            }

          }
          .feature-content {
            ul {
              padding-left: 0;
              color: $c-main-second;;
              list-style: disc;
              column-count: 2;

              &.bullets {
                li {
                  padding-left: 20px;
                  &:before {
                    left: 0;
                  }
                }
              }
            }
          }
        }

        @media (max-width: 640px) {
          .left,
          .right {
            float: none;
            width: 100%;
            text-align: center;

          }
          .right {
            padding-top: 0;
            .feature-content {
              text-align: left;
            }
          }
          .left {
            .feature-img {
              padding-bottom: 0;
            }
          }

        }
        @media (max-width: 500px) {
          .right {
            .feature-content {
              ul {
                column-count: 1;
              }
            }
          }
        }
      }
    }
  }

  &.shortcodes-block {
    .content {
      .feature-item {
        li {
          .left {
            width: 150px;
            .feature-img{
              text-align: center;
              img{
                padding-top: 10px;
                max-width: 80px;
                border-radius: 0;
              }

              &.fa-icon-in{
                text-align: center;
                color: #2c3744;
                font-size: 60px;
                width: 130px;
                height: 130px;
                line-height: 65px;
                border-radius: 50%;
                margin: 15px auto;
                background: #ededed;
                .icon{
                  margin-right: 0;
                }
              }
            }
          }
          .right {
            max-width: calc(100% - 150px);
            width: calc(100% - 150px);
          }
        }
      }
    }
  }
}