.communications-block {
  color: #fff;
  header {
    h2 {
      font-weight: 400;
      color: #fff;
    }
  }

  .content-ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    padding-left: 0;
  }
  .com-content-wrap {
    display: inline-block;
    position: relative;
    padding-left: 20px;
    width: 25%;
    text-align: center;

    &:after {
      display: block;
      content: '+';
      width: 20px;
      height: 35px;
      position: absolute;
      top: calc(50% - 35px);
      left: 0;
      //color: #fff;
      font-size: 35px;
      line-height: 35px;
    }
    &:first-of-type {
      padding-left: 0;
      &:after {
        display: none;
      }
    }
  }
  footer {
    text-align: center;
    ul {
list-style: none;
      padding-left: 0;
      a {
        color: #fff;
        text-transform: uppercase;
        font: 700 25px/1.2 $font-text;
        &:hover{
          text-decoration: underline;
        }

      }
    }
  }
}