.contact-block {
  header {
    width: 100%;
    padding: 30px;
    display: flex;
    flex-flow: row wrap;
    .contact-title {
      width: calc(100% - 150px);
      float: left;
      h2 {
        text-align: left;
        color: $c-main-second;
        font-size: 60px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 60px;

      }
    }
    .img-wrap {
      max-width: 150px;
      float: right;
      width: 100%;
      padding: 30px;
      background: #f7f7f7;
      border-radius: 50%;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .contact-main {
    .contact-info {
      border-top: 5px solid $c-main-second;
      border-bottom: 1px solid $c-main-second;
      list-style: none;
      padding-left: 0;
      li {
        display: inline-block;
        width: 50%;
        margin-left: -4px;
        padding: 3% 5%;
        font-size: 16px;
        &:first-of-type {
          border-right: 1px dashed $c-main-second;

        }
        .info-content {
          line-height: 30px;
          font-size: 26px;
          font-weight: 600;
        }
      }
    }
  }

  @media (max-width: 700px) {
    header {
      .contact-title,
      .img-wrap {
        width: 100%;
        float: none;
        h2 {
          text-align: center;
        }
      }
      .img-wrap {
        margin: 0 auto;
        img {
          max-width: 200px;
        }
      }
    }
    .contact-main {
      .contact-info {

        li {
          display: block;
          width: 100%;
          padding: 3% 5%;
          font-size: 16px;
          &:first-of-type {
            border-right: 0;
            border-bottom: 1px dashed $c-main-second;

          }
        }
      }
    }
  }
}