.departments-block {
  color: $c-main-first;

  .tab-content-list {
    padding: 0;
    margin: 0;
    list-style: none;

    .tab-content-single {
      display: none;

      &.active {
        display: block;
      }


      header {
        font-size: 20px;
        margin: 0 auto 40px;
        text-align: center;
      }

    }
    .tab-content-single{
      display: none;
      &.active{
        display: block;

      }
    }

  }

  .examples-list {
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    margin: 0 0 20px;
    list-style: none;

    .example-single {
      width: calc(100% / 6);
      padding: 0 20px;

      .img-wrap {
        overflow: hidden;
        border-radius: 50%;
        max-width: 130px;
        margin: 0 auto;
      }

      h4 {
        font: 15px/1.2 $font-text;
      }
    }
  }
  footer{
    text-align: center;
    ul{
      list-style: none;
      padding-left: 0;
      li{
        display: inline-block;

        //display: block;

        border-color: $c-main-second;
        color: #fff;
        background: $c-main-second;
      a {
        color: #fff;
        font-weight: 600;
        padding: 20px 40px;
        display: block;
        text-transform: uppercase;
      }
      }
    }

  }

  @media (max-width: 960px) {
    .tab-links-list{
      display: block;
      .list-item{
        font: 700 16px/1.2 $font-text;
        a {
          border: 3px solid #e0e0e0;
        }
      }
    }
    .examples-list{
      .example-single{
        width:100%;
      }
    }
  }
}