.faq-block {
  .tab-links-list.faq-tabs-list{
    margin: 0 0 40px;
    padding: 0;
    //display: table;
    //width: 100%;
    @media ( max-width: 900px) {
      display: block;
    }

    .list-item {
      text-align: center;
      display: table-cell;
      @media ( max-width: 900px) {
        display: block;
      }

      a {
        text-transform: uppercase;
        color: #fff;
        display: block;
        padding: 10px;
        background: $c-main-first;
        transition: .5s;

        &.active {
          box-shadow: inset 0 0 15px 1px $c-main-first;
          color: $c-main-first;
          background: #fff;
          border-color: #e0e0e0;
        }
        &:hover{
          border-color: #e0e0e0;
          box-shadow: inset 0 0 15px 1px $c-main-first;
          color: $c-main-first;
          background: #fff;
        }
      }

      &:not(:last-child) {
        border-right: 2px solid #fff;
        @media ( max-width: 900px) {
          border-right: none;
        }
      }
    }
  }

  .tab-content-list  {
    margin: 0;
    padding: 0;
    list-style: none;

    .tab-content {
      display: none;

      &.active {
        display: block;
      }

      .faq-list {
        margin: 0;
        padding: 0;
        list-style: none;

        .faq-item {
          margin-bottom: 0;
        }

        .question {
          margin: 0;
          padding: 15px 50px 15px 15px;
          position: relative;
          transition: .3s;
          border-bottom: 1px solid $c-border;

          &:hover {
            cursor: pointer;
          }

          .fa {
            position: absolute;
            right: 0;
            top: calc(50% - 9px);
          }

          .fa-minus-square {
            display: none;
          }

          &.active {
            border-bottom: none;

            .fa-minus-square {
              display: block;
            }

            .fa-plus-square {
              display: none;
            }
          }
        }

        .answer {
          padding: 30px 20px;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          background: $c-border;
          display: none;
        }
      }
    }
  }
}