.features-block {
  .features-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;

    .single-feature {
      width: calc(100% / 3);
      list-style: none;
      padding: 10px 10px 10px 80px;
      position: relative;

      .icon {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 60px;
        height: 60px;
        font-size: 32px;
        line-height: 59px;
        text-align: center;
        vertical-align: middle;
        border-radius: 50%;
        border: 2px solid $c-main-second;
        color: $c-main-second;
        transition: .5s;
      }

      &:hover {
        .icon {
          background: $c-main-second;
          color: #fff;
        }
      }

      .feature-title {
        text-transform: none;
        margin: 0 0 15px;
        font: 20px/1.2 $font-title, sans-serif;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .features-block {
    .features-list {
      .single-feature {
        width: 50%;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .features-block {
    .features-list {
      .single-feature {
        width: 100%;
      }
    }
  }
}