.block-right-img{
  max-width: 1000px;
  margin: 25px auto;
  .left-content{
    float: left;
    width: 59%;
    margin-right: 1%;
    text-align: left;
    .title{
      text-align: left;
      color: $c-main-second;
    }
  }

  .right-content{
    float: right;
    width: 40%;
  }

  @media (max-width: 600px) {
    .left-content{
      width: 100%;
      margin-right: 0;
      text-align: center;

      .title{
        text-align: center;
      }
    }
    .right-content{
      display: none;
    }

  }
}