.industrial-icons {
  background: #f3f3f3;
  text-align: center;

  .icons-list {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
    list-style: none;

    .list-item {
      width: 20%;
      padding: 20px;
      text-align: center;
      @media (max-width: 900px) {
        width: calc(100%/3);
        padding: 10px;
      }

      @media (max-width: 600px) {
        padding: 5px;
        width: 50%;
      }

      .icon-wrap {
        display: block;
        color: $c-main-second;
        font-size: 60px;
        width: 130px;
        height: 130px;
        line-height: 130px;
        border-radius: 50%;
        background: #fff;
        margin: 0 auto;
        @media (max-width: 600px) {
          width: 80px;
          height: 80px;
          font-size: 40px;
          line-height: 80px;
        }

        .fa {
          margin-right: 0;
        }
      }

      h3 {
        font: 400 18px/1.2 $font-title;
      }
    }
  }

  .btn {
    margin-bottom: 40px;
  }
}