.industries-list-block {
  .posts-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;

    .list-item {
      width: calc(100% / 3);
      display: flex;
      padding: 10px;
      margin-bottom: 20px;

      @media screen and (max-width: 900px) {
        width: 50%;
      }

      @media screen and (max-width: 600px) {
        width: 100%;
      }

      .wrapper {
        width: 100%;
        position: relative;
        border-radius: 10px;
        background: #eee;
        padding: 20px 20px 70px;

        .img-wrap {
          max-width: 160px;
          margin: 0 auto;
          border-radius: 50%;
          overflow: hidden;
        }

        .btn {
          position: absolute;
          bottom: 20px;
          left: 20px;
          font-size: 12px;

          &:hover {
            background: $c-main-second;
          }
        }
      }
    }
  }
}