.mobile-animated-block {
  background: no-repeat 50% 50% / cover fixed;

  .title {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    font: 600 40px/1.4 $font-title, sans-serif;
    text-shadow: 1px 1px 1px #000;
  }

  .mobile-and-messages {
    position: relative;
    padding: 60px 20px;
    max-width: 700px;
    margin: 0 auto;

    .mobile-block {
      width: 100%;
      max-width: 180px;
      margin: 0 auto;
      min-height: 350px;
      display: flex;
      align-items: center;

      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }

    .messages {
      padding: 0;
      margin: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      .single-message {
        position: absolute;
        font: 13px/1.2 $font-text, sans-serif;
        list-style: none;
        color: #fff;
        padding: 10px;
        max-width: 195px;
        border-radius: 10px;

        .text {
          min-height: 70px;
          max-height: 120px;
          overflow: hidden;
        }

        &:after {
          display: block;
          content: "";
          position: absolute;
          width: 1px;
          height: 1px;
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
          border-right: 5px solid transparent;
        }

        .bubble {
          position: absolute;
          width: 70px;
          height: 70px;
          border-radius: 50%;
          background: #fff;
          display: flex;
          justify-content: center;
          align-items: center;

          span {
            display: block;
            text-align: center;
          }
        }

        &:nth-child(1) {
          left: 0;
          top: 40px;
          background: $fc-btn-alt;

          .bubble {
            top: -40px;
            right: -40px;
            color: $fc-btn-alt;
            border: 1px solid $fc-btn-alt;
          }

          &::after {
            bottom: 10px;
            right: -20px;
            transform: rotateZ(30deg);
            border-left: 20px solid $fc-btn-alt;
          }
        }

        &:nth-child(2) {
          right: 20px;
          top: 40px;
          background: $fc-btn-special;

          .bubble {
            bottom: -20px;
            right: -40px;
            color: $fc-btn-special;
            border: 1px solid $fc-btn-special;
          }

          &::after {
            bottom: 10px;
            left: -20px;
            transform: rotateZ(-210deg);
            border-left: 20px solid $fc-btn-special;
          }
        }

        &:nth-child(3) {
          left: 0;
          top: calc(50% - 60px);
          background: $fc-btn-special;

          .bubble {
            bottom: -40px;
            right: -40px;
            color: $fc-btn-special;
            border: 1px solid $fc-btn-special;
          }

          &::after {
            top: 10px;
            right: -20px;
            transform: rotateZ(-30deg);
            border-left: 20px solid $fc-btn-special;
          }
        }

        &:nth-child(4) {
          right: 20px;
          top: 50%;
          background: $fc-btn-alt;

          .bubble {
            bottom: -20px;
            right: -40px;
            color: $fc-btn-alt;
            border: 1px solid $fc-btn-alt;
          }

          &::after {
            bottom: 50%;
            left: -20px;
            transform: rotateZ(-160deg);
            border-left: 20px solid $fc-btn-alt;
          }
        }

        &:nth-child(5) {
          left: 0;
          bottom: 40px;
          background: $fc-btn-alt;

          .bubble {
            bottom: -20px;
            right: -40px;
            color: $fc-btn-alt;
            border: 1px solid $fc-btn-alt;
          }

          &::after {
            top: 10px;
            right: -20px;
            transform: rotateZ(-30deg);
            border-left: 20px solid $fc-btn-alt;
          }
        }

        p {
          margin-top: 0;
          margin-bottom: 5px;
        }
      }
    }
  }

  .mobile-placeholder {
    display: none;
  }

  .content-area {
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    margin: 0 auto;
    text-align: center;
    max-width: 800px;
    font-size: 22px;
  }
}

@media screen and (max-width: 600px) {
  .mobile-animated-block {
    .title {
      font-size: 30px;
    }

    .mobile-and-messages {
      display: none;
    }

    .mobile-placeholder {
      display: block;
    }

    .content-area {
      font-size: 18px;
    }
  }
}