.mobile-and-messages-block {
  .container {
    display: flex;
    flex-flow: row wrap;
  }

  .mobile-and-messages {
    width: 60%;
    position: relative;
    padding: 60px 20px;
    max-width: 700px;
    margin: 0 auto;

    .mobile-block {
      width: 100%;
      max-width: 180px;
      margin: 0 auto;
      min-height: 350px;
      display: flex;
      align-items: center;

      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }

    .messages {
      padding: 0;
      margin: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      .single-message {
        position: absolute;
        font: 13px/1.2 $font-text, sans-serif;
        list-style: none;
        background: $c-main-second;
        color: #fff;
        padding: 10px;
        max-width: 195px;
        border-radius: 10px;

        .text {
          min-height: 70px;
          max-height: 120px;
          overflow: hidden;
        }

        &:after {
          display: block;
          content: "";
          position: absolute;
          width: 1px;
          height: 1px;
          border-left: 20px solid $c-main-second;
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
          border-right: 5px solid transparent;
        }

        .bubble {
          position: absolute;
          width: 70px;
          height: 70px;
          color: $c-main-second;
          border: 1px solid $c-main-second;
          border-radius: 50%;
          background: #fff;
          display: flex;
          justify-content: center;
          align-items: center;

          span {
            display: block;
            text-align: center;
          }
        }

        &:nth-child(1) {
          left: 0;
          top: 40px;

          .bubble {
            top: -40px;
            right: -40px;
          }

          &::after {
            bottom: 10px;
            right: -20px;
            transform: rotateZ(30deg);
          }
        }

        &:nth-child(2) {
          left: 0;
          top: calc(50% - 60px);

          .bubble {
            bottom: -40px;
            right: -40px;
          }

          &::after {
            top: 10px;
            right: -20px;
            transform: rotateZ(-30deg);
          }
        }

        &:nth-child(3) {
          left: 0;
          bottom: 40px;

          .bubble {
            bottom: -20px;
            right: -40px;
          }

          &::after {
            top: 10px;
            right: -20px;
            transform: rotateZ(-30deg);
          }
        }

        &:nth-child(4) {
          right: 20px;
          top: 40px;

          .bubble {
            bottom: -20px;
            right: -40px;
          }

          &::after {
            bottom: 10px;
            left: -20px;
            transform: rotateZ(-210deg);
          }
        }

        &:nth-child(5) {
          right: 20px;
          top: 50%;

          .bubble {
            bottom: -20px;
            right: -40px;
          }

          &::after {
            bottom: 50%;
            left: -20px;
            transform: rotateZ(-160deg);
          }
        }

        p {
          margin-top: 0;
          margin-bottom: 5px;
        }
      }
    }
  }

  .information {
    position: relative;
    text-align: center;
    width: 40%;
    padding: 20px 20px 20px 60px;

    .btn {
      &:hover {
        background: $c-main-second;
      }
    }
  }

  .mobile-placeholder {
    display: none;
  }
}

@media screen and (max-width: 1100px) {
  .mobile-and-messages-block {
    .mobile-and-messages {
      width: 100%;
    }

    .information {
      text-align: center;
      max-width: 600px;
      margin: 0 auto;
      width: 100%;
      padding: 20px 0;
    }
  }
}

@media screen and (max-width: 600px) {
  .mobile-and-messages-block {
    .mobile-and-messages {
      display: none;
    }

    .mobile-placeholder {
      display: block;
    }
  }
}