.new-features-block {
  .features-title {
    text-align: center;
    h3 {
      font-weight: 400;
      font: 35px/1.2 $font-title, sans-serif;
    }
  }
  .features-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    background: #fff;
    padding: 15px 30px;
    border-radius: 15px;

    .single-feature {
      width: calc(100% / 5);
      list-style: none;
      text-align: center;
      padding: 0 30px;

      .feature-img {
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          margin-top: 5px;
        }

        .icon {
          width: 80px;
          height: 80px;
          font-size: 60px;
          line-height: 80px;
          text-align: center;
          vertical-align: top;
          color: $c-main-second;
          transition: .5s;
          margin-right: 0px;
        }
      }

      .feature-title {
        text-transform: none;
        margin: 0 0 15px;
        font: 18px/1.2 $font-title, sans-serif;
      }
      .text-wrapper {
        margin-top: 15px;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .new-features-block {
    .features-list {
      .single-feature {
        width: 50%;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .new-features-block {
    .features-list {
      .single-feature {
        width: 100%;
      }
    }
  }
}