.posts-list-block {
  header {
    margin-bottom: 40px;

    .block-title {
      text-align: center;
      color: $c-main-second;
      text-transform: none;
      font: 300 36px/1.3 $font-title, sans-serif;
      margin-bottom: 10px;
    }

    .block-subtitle {
      margin-top: 0;
      text-align: center;
      color: $c-main-first;
      font: 400 16px/1.3 $font-text, sans-serif;
    }
  }

  .posts-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;


    .list-item {
      width: calc(100% / 3);
      padding: 10px;
      list-style: none;

      a {
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        display: block;

        &:hover {
          .layer-wrap {
            background: rgba(0, 0, 0, .7);
          }

          .title {
            letter-spacing: 3px;
          }

          .featured-img {
            transform: scale(1.2);
          }
        }

        .featured-img {
          display: block;
          width: 100%;
          height: auto;
          transition: 4s;
        }

        .layer-wrap {
          top: 0;
          left: 0;
          position: absolute;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, .5);
          display: flex;
          justify-content: center;
          align-items: center;
          transition: .3s;

          .title {
            text-transform: none;
            color: $fc-text-lighter;
            font-size: 16px;
            transition: 1s;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .posts-list-block {
    .posts-list {
      .list-item {
        width: 50%;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .posts-list-block {
    .posts-list {
      .list-item {
        width: 100%;
      }
    }
  }
}