.prices-block {
  .price-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;

    .single-price {
      width: 20%;
      padding: 10px;
      list-style: none;
      text-align: center;

      .wrapper {
        height: 100%;
        position: relative;
        background: $fc-text-lighter;
      }
      
      header {
        padding: 10px;
        color: $fc-text-lighter;
        background: $c-main-first;
        text-transform: uppercase;
      }

      .offers-list {
        padding: 20px 10px 80px;

        .info {
          font-size: 13px;
          margin: 20px 0;
          text-align: center;
          font-weight: bold;
        }

        .price-value {
          .currency,
          .value {
            font-weight: bold;
            font-size: 24px;
          }
        }

        ul {
          margin: 0;
          padding: 0;

          li {
            list-style: none;
          }
        }
      }
      
      .sign-up-btn {
        width: 100%;
        min-width: 0;
        text-transform: uppercase;
        background: $fc-btn-special;

        &:hover {
          background: transparent;
          color: $fc-btn-special;
          border-color: $fc-btn-special;
        }
      }

      footer {
        position: absolute;
        padding: 10px;
        bottom: 0;
        left: 0;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 900px){
  .prices-block {
    .price-list {
      .single-price {
        width: calc(100% / 3);
      }
    }
  }
}

@media screen and (max-width: 600px){
  .prices-block {
    .price-list {
      .single-price {
        width: 50%;
      }
    }
  }
}

@media screen and (max-width: 480px){
  .prices-block {
    .price-list {
      .single-price {
        width: 100%;
      }
    }
  }
}