.price {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  th, td {
    border: 1px solid grey;
  }
  thead {
    background-color: #f1f1f1;
    font-weight: 600;
    td {
      background: #f1f1f1;
    }
  }
  tr {
    height: 48px;
    &.bottom-table {
      td {
        &:hover{
          background:#ef6332;
        }
        &.border-none {
          border: 0;
          background: #f3f3f3;
        }
        a{
          color: #fff;
          display: block;
          width: 100%;
          height: 100%;
        }
        font-weight: 600;
        background: #a9a9a9;
      }
    }

  }

  td {
    background: #ffffff;

  }
}

.prices-block-table{
  background: #f3f3f3;
  p{
    text-align: center;
    font-size: 13px;
    line-height: 25px;
  }
}