.resources-block {
  .resources-title {
    text-align: center;
    h3 {
      font-weight: 400;
      font: 35px/1.2 $font-title, sans-serif;
    }
  }
  .resource-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;

    .single-resource {
      list-style: none;
      text-align: center;
      width: 31%;
      margin: 1% 1%;
      background: #fff;
      border-radius: 10px;
      padding: 30px 0px 10px 0px;

      &.gray{
        background: #f7f7f7;
      }
      .resource-img {
        height: 60px;
        width: auto;
        img {
          margin-top: 5px;
          width: auto;
          height: 100%;
        }

        .icon {
          width: 60px;
          height: 60px;
          font-size: 60px;
          line-height: 60px;
          text-align: center;
          vertical-align: top;
          color: #f16334;
          transition: .5s;
          margin-right: 0;
        }
      }

      .resource-title {
        text-transform: none;
        margin: 0 0 15px;
        font-size: 24px;
        font-weight: 700;
      }
      .text-wrapper {
        width: 80%;
        margin: 30px auto 15px;
      }
    }
  }
  footer {
    text-align: center;
    ul {
      list-style: none;
      padding-left: 0;
      li {
        display: inline-block;

        //display: block;

        border-color: $c-main-second;
        color: #fff;
        background: $c-main-second;
        a {
          color: #fff;
          font-weight: 600;
          padding: 20px 40px;
          display: block;
          text-transform: uppercase;
        }
      }
    }

  }
}

@media screen and (max-width: 1100px) {
  .resources-block {
    .resource-list {
      .single-resource {
        width: 48%;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .resources-block {
    .resource-list {
      .single-resource {
        width: 100%;
      }
    }
  }
}