.simple-slider-section {
  .container {
    max-width: 900px;
  }

  header {
    text-align: center;
  }

  .slider-wrap {
    max-width: 80%;
    margin: 0 auto;

    .slides-list {
      margin: 0;
      padding: 0;
      list-style: none;

      .new-simple-slider{
        list-style: none;
        padding-left: 0;
        li{
          width: 25%;
          display: inline-block;
          margin-left: -4px;
          @media (max-width: 600px) {
            width: 50%;

          }
        }
      }
    }
  }

  .bx-wrapper {
    position: relative;

    .bx-next,
    .bx-prev {
      position: absolute;
      top: calc(50% - 30px);
      font-size: 46px;
      color: #aaa;

      &:hover {
        color: $c-main-second;
      }
    }

    .bx-next {
      right: -30px;
    }

    .bx-prev {
      left: -30px;
    }
  }
}