.sib-block {
  .sib-title {
    text-align: center;
    h3 {
      font-weight: 400;
      font: 35px/1.2 $font-title, sans-serif;
    }
  }
  .sib-item-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;

    .single-sib-item {
      list-style: none;
      text-align: center;
      width: 23%;
      margin: 1% 1%;
      background: #fff;
      border-radius: 10px;
      padding: 30px 0px 10px 0px;
      background: #f7f7f7;

      .sib-img {
        height: 100px;
        width: auto;
        img {
          margin-top: 5px;
          width: auto;
          height: 100%;
        }

        .icon {
          width: 100%;
          height: 100px;
          font-size: 95px;
          line-height: 100px;
          text-align: center;
          vertical-align: top;
          color: #f16334;
          transition: .5s;
          margin-right: 0;
        }
      }

      .sib-item-title {
        text-transform: none;
        margin: 0 0 15px;
        font: 18px/1.2 $font-title, sans-serif;
      }
      .text-wrapper {
        margin-top: 15px;
      }
    }
  }

}

@media screen and (max-width: 1100px) {
  .sib-block {
    .sib-item-list {
      .single-sib-item {
        width: 48%;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .sib-block {
    .sib-item-list {
      .single-sib-item {
        width: 100%;
      }
    }
  }
}