.tab-slider-section {
  background: $c-bg-special;
  color: $c-main-first;

  .pager {
    .links-list {
      margin: 0 0 5px;
      padding: 0;
      list-style: none;
      display: flex;

      @media (max-width: 764px) {
        display: block;

      }

      .list-item {
        width: 100%;

        .pager-link {
          text-align: center;
          padding: 15px 10px;
          text-transform: uppercase;
          color: $c-main-second;
          background: #fff;
          display: block;
          font-weight: 800;

          &.active {
            background: $c-main-second;
            color: #fff;
          }

          &:not(:last-child) {
            border-right: 5px solid $c-bg-special;
          }
        }
      }
    }
  }

  .container {
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  /*-----Hotfix-----------*/
  .bx-viewport {
    height: auto !important;
    background: #fff;
  }
  /*----------------------*/

  .slides-list {
    margin: 0;
    list-style: none;
    padding: 40px;
    background: #fff;

    .single-slide {
      padding: 20px;
      background: #fff;
      display: flex;
      flex-flow: row wrap;

      .video-preview {
        width: 45%;
        padding: 10px;
      }

      .text-block {
        padding: 10px;
        width: 55%;

        header {
          padding: 0 0 5px;
          border-bottom: 1px solid $c-border;
        }

        h2 {
          margin-top: 0;
          text-align: left;
        }

        .advantages-list {
          margin: 0;
          padding-left: 0;
          list-style: none;
          column-count: 2;
          font-size: 15px;
          display: flex;
          flex-flow: row wrap;

          li {
            width: 50%;
            padding: 10px;
            margin-bottom: 10px;
          }
        }
      }

      .links-wrap {
        width: 100%;
        text-align: center;
      }
    }
  }

  .pagination-wrap {
    font-size: 46px;

    .bx-slider-next-btn,
    .bx-slider-prev-btn {
      position: absolute;
      top: 50%;

      .fa {
        margin-right: 0;
      }

      a {
        color: #aaa;

        &:hover {
          color: $c-main-second;
        }
      }
    }

    .bx-slider-prev-btn {
      left: 5px;
    }

    .bx-slider-next-btn {
      right: 5px;
    }
  }
}