.tabs-feature-container {

  .tabs-feature {
    ul {
      text-align: center;
      li {
        &.price-tabs {
          float: none;
          width: 50%;
          display: inline-block;
          border: 1px solid #e0e0e0;
          box-sizing: border-box;
          background: #fff;

          &.ui-state-active {
            border: 1px solid #e0e0e0;
            box-sizing: border-box;
            background: #ef6332;
            color: #fff;
            a {
              color: #fff;
              font-weight: 600;
            }
          }

          &:not(:first-child) {
            margin-left: -5px;
          }
        }
      }
    }
  }
  .price-tab-content {
    border: none!important;
    li {
      max-width: 24%;
      width: 24%;
      display: inline-block;
      text-align: center;
      margin-bottom: 50px;

      .img-feature {
        width: 100%;
        height: auto;
        img {
          float: none;
          margin: 0;
          width: auto;
          height: 61px;
        }
      }
    }
  }

}