.video-block {
  padding: 20px 0 70px;

  h1 {
    font-weight: 400;
    text-align: center;
    margin:  0 auto 50px;
    max-width: 800px;

    .decorated {
      font-weight: 800;
    }
  }

  .video-wrapper {
    position: relative;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;

    .promotion-video {
      width: 100%;
      border: 40px solid $c-main-second;
      position: relative;
      height: auto;
    }
  }

  .content-wrapper {
    max-width: 800px;
    margin: 0 auto;
    font-size: 22px;
    text-align: center;

    .btn {
      background: $c-main-second;
      border-width: 2px;
      font-weight: bold;
      padding: 0px 40px;
      height: 80px;
      line-height: 76px;
      border-radius: 40px;

      &:hover {
        background: #fff;
        color: $c-main-second;
        border-color: $c-main-second;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .video-block {
    .content-wrapper {
      .btn {
        padding: 20px;
        height: auto;
        line-height: 1.3;
      }
    }
  }
}