.departments-block.learning-block {
  color: $c-main-first;

  .tab-content-list {
    padding: 0;
    margin: 0;
    list-style: none;

    .tab-content-single {
      display: none;

      &.active {
        display: block;
      }


      header {
        font-size: 20px;
        margin: 0 auto 40px;
        text-align: center;
      }

      footer {
        text-align: center;

        .links-list {
          list-style: none;
          margin: 30px 0 30px;
          padding: 0;

          li {
            display: inline-block;

            &:not(:last-child) {
              margin-right: 10px;
            }
          }
        }
      }
    }
    .tab-content-single{
      display: none;
      &.active{
        display: block;

      }
    }

  }

  .examples-list {
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    margin: 0 0 20px;
    list-style: none;

    .example-single {
      width: calc(94% / 3);
      padding: 20px 20px 60px 20px;
      background: #f7f7f7;
      border-radius: 15px;
      margin: 20px 1% 0 1%;
      position: relative;

      .links-block{
        bottom: 20px;
        left: 0;
        position: absolute;
        width: 100%;
        text-align: center;
      }
      .img-wrap {
        overflow: hidden;
        border-radius: 50%;
        max-width: 130px;
        margin: 0 auto;
      }
      .feature-img{
        text-align: center;
        img{
          padding-top: 10px;
          max-width: 80px;
          border-radius: 0;
        }

        &.fa-icon-in{
          text-align: center;
          color: #2c3744;
          font-size: 60px;
          width: 130px;
          height: 130px;
          line-height: 125px;
          border-radius: 50%;
          margin: 15px auto;
          background: #ededed;
          .icon{
            margin-right: 0;
          }
        }
      }
      .video-link{
        padding: 6px 20px;
        font-weight: 600;
        line-height: 1.5;
        display: inline-block;
        text-transform: uppercase;
        color: #FFF;
        background-color: $c-main-second;
        border-color: $c-main-second;
        border-radius: 5px;
        margin-right: 5px;
      }
      .download-link{
        padding: 6px 20px;
        font-weight: 600;
        display: inline-block;
        line-height: 1.5;
        text-transform: uppercase;
        color: #FFF;
        background-color: $fc-link;
        border-color: $fc-link;
        border-radius: 5px;
        margin-left: 5px;
      }

      h4 {
        font: 18px/1.2 $font-text;
        font-weight: 600;
      }
    }
  }
  footer{
    text-align: center;
    ul{
      list-style: none;
      padding-left: 0;
      li{
        display: inline-block;

        //display: block;

        border-color: $c-main-second;
        color: #fff;
        background: $c-main-second;
        a {
          color: #fff;
          font-weight: 600;
          padding: 20px 40px;
          display: block;
          text-transform: uppercase;
        }
      }
    }

  }

  @media (max-width: 960px) {
    .tab-links-list{
      display: block;
      .list-item{
        font: 700 16px/1.2 $font-text;
        a {
          border: 3px solid #e0e0e0;
        }
      }
    }
    .examples-list{
      .example-single{
        width:100%;
      }
    }
  }
}