/*
  cusomizing theme forms elements
*/
.contact-form {
  .header {
    text-align: center;

    p {
      font-size: 22px;
    }
  }

  input,
  select {
    border: none;
    box-shadow: inset 0 0 3px 1px #848484;
  }

  .field-text,
  .field-gap,
  .field-textarea,
  .field-select,
  .field-upload,
  .field-date,
  .field-time,
  .field-multiple,
  .field-rating,
  .field-table {
    margin-bottom: 8px !important;
  }

  sup {
    color: $fc-text !important;
  }

  textarea {
    width: 100% !important;
    height: 112px !important;
    border-radius: 0!important;
    line-height: 1.2 !important;
    border-radius: 5px;
    border: none;
    box-shadow: inset 0 0 3px 1px #848484;
  }

  label {
    font-size: 13px !important;
    margin-bottom: 3px !important;
    font-weight: 400 !important;
  }

  input[type = submit] {
    @extend .btn;
    margin-top: 15px;
    box-shadow: none;
    cursor: pointer;
    transition: .3s;

    &:hover {
      background: $c-main-second;
    }
  }
}