/*
  cusomizing theme forms elements
*/
.subscribe-form {
  max-width: 400px;
  margin: 0 auto;

  input {
    border: none;
    box-shadow: inset 0 0 3px 1px #848484;
    font-size: 14px;
    height: 41px;
    padding: 0 15px;
    width: 100%;
    margin-bottom: 8px
  }

  input[type = submit] {
    @extend .btn;
    box-shadow: none;
    cursor: pointer;
    transition: .3s;

    &:hover {
      background: $c-main-second;
    }
  }
}