.tab-links-list {
  margin: 0 0 40px;
  padding: 0;
  list-style: none;
  display: flex;

  .list-item {
    font: 700 18px/1.2 $font-text;
    text-transform: uppercase;
    text-align: center;
    width: 100%;

    &:not(:last-child) {
      a {
        border-right: none;
      }
    }

    a {
      border: 3px solid #e0e0e0;
      color: $c-main-first;
      display: block;
      padding: 14px 5px;

      &:hover {
        border-color: $c-main-second;
        color: #fff;
        background: $c-main-second;
      }
      &.active{
        border-color: $c-main-second;
        color: #fff;
        background: $c-main-second;
      }
    }
  }
}