.jumbotrone-main {
  background: no-repeat center center / cover fixed;
  color: #fff;
  min-height: 420px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  .container {
    padding: 80px 20px 80px;
    text-align: center;
  }

  .title {
    text-transform: none;
    color: #fff;
    font: 400 60px/1.2 $font-title;
    margin: 0 0 10px;
  }

  .slogan {
    color: $c-main-second;
    font-size: 26px;
    font-weight: 100;
    margin-top: 10px;
  }

  .links-wrap {
    margin-bottom: 10px;

    .btn.btn-1 {
      background: $fc-btn-alt;
      margin-right: 10px;

      &:hover {
        color: $fc-btn-alt;
        border-color: $fc-btn-alt;
        background: transparent;
      }
    }

    .btn.btn-2 {
      background: $fc-btn-special;

      &:hover {
        color: $fc-btn-special;
        border-color: $fc-btn-special;
        background: transparent;
      }
    }
  }

  .afterword {
    font-size: 15px;
  }
}

@media screen and (max-width: 900px) {
  .jumbotrone-main {
    .title {
      font-size: 44px;
    }

    .slogan {
      font-size: 24px;
    }

    .btn.btn_big {
      min-width: 190px;
    }
  }
}

@media screen and (max-width: 600px) {
  .jumbotrone-main {
    min-height: 0;
    background: no-repeat 55% 50% / cover scroll;

    .title {
      font-size: 32px;
    }

    .slogan {
      font-size: 18px;
    }

    .btn.btn_big {
      font-size: 15px;
      min-width: 120px;
    }
  }
}