.jumbotrone-awesome {
  background:  no-repeat center top / cover;
  color: #fff;
  min-height: 420px;
  display: flex;

  .container {
    padding: 80px 20px 80px;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
  }

  .info-block {
    width: 50%;

    .title {
      text-align: left;
      text-transform: none;
      font: 800 60px/1.2 $font-special;
      margin: 0 0 50px;
      color: #fff;
    }

    .slogan {
      border: 1px solid #fff;
      border-radius: 5px;
      padding: 7px;
      text-align: left;
      font: 200 20px/1.2 $font-special;
      margin-top: 10px;
      color: #fff;
    }
  }

  .mobile-block {
    position: absolute;
    bottom: 0;
    right: 80px;
    width: 375px;
    height: 405px;
    background: url(../images/mobile-screen.png) no-repeat center bottom;

    .animated-items-list {
      margin: 0;
      padding: 0;
      height: 100%;

      .single-animated-item {
        list-style: none;
        height: 100%;
        display: none;

        .message {
          text-align: left;
          font: 400 14px/1.4 $font-text, sans-serif;
          color: $c-main-first;
          position: absolute;
          padding: 10px;
          top: 150px;
          border-radius: 15px;
          left: 37px;
          width: 300px;
          background: #fff;

          p {
            margin-top: 0;
          }

          &::after {
            display: block;
            content: '';
            position: absolute;
            right: -14px;
            bottom: calc(50% - 7px);
            width: 0;
            height: 0;
            border-top: 7px solid transparent;
            border-right: 7px solid transparent;
            border-bottom: 7px solid transparent;
            border-left: 7px solid #fff;
          }
        }

        .bubble {
          position: absolute;
          border: 5px solid $c-main-second;
          border-radius: 50%;
          width: 136px;
          height: 136px;
          padding: 10px;
          color: $c-main-second;
          font: bold 20px/1.4 $font-special, sans-serif;
          background: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        &:nth-child(1n) {
          .bubble {
            bottom: 20px;
            right: -60px;
          }
        }

        &:nth-child(2n):not(:nth-child(4n)) {
          .bubble {
            top: 20px;
            left: -60px;
          }
        }

        &:nth-child(3n) {
          .bubble {
            top: 20px;
            right: -60px;
          }
        }

        &:nth-child(4n) {
          .bubble {
            bottom: 20px;
            left: -60px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .jumbotrone-awesome {
    .info-block {
      width: 100%;

      .title {
        text-align: center;
        font-size: 44px;
      }

      .slogan {
        text-align: center;
      }
    }

    .mobile-block {
      display: none;
    }
  }
}

@media screen and (max-width: 600px) {
  .jumbotrone-awesome {
    min-height: 0;
    background: no-repeat 55% 50% / cover scroll;

    .info-block {
      .title {
        font-size: 32px;
      }

      .slogan {
        font-size: 16px;
      }
    }
  }
}