@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy-light-webfont.woff2') format('woff2'),
  url('../fonts/gilroy-light-webfont.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy-extrabold-webfont.woff2') format('woff2'),
  url('../fonts/gilroy-extrabold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}