* {
  box-sizing: border-box;
}

body, html {
  font: 300 16px/1.5 $font-text, sans-serif;
  color: $fc-text;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  color: $c-main-first;
  font-family: $font-title;
}

h1, .h1 {
  text-align: left;
  font-size: 40px;

  &.title_default {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}

h2, .h2 {
  text-align: center;
  font-size: 35px;
}

h3, .h3 {
  text-transform: none;
  font-size: 21px;
  font-weight: 600;
}

h4, .h4 {
  font-size: 18px;
}

h4, h5, h6,
.h4, .h5, .h6 {
  font-size: 16px;
}

.big-title {
  font: 400 60px/1.2 Open Sans;
}

a {
  text-decoration: none;
  color: $c-main-second;
  transition: .3s;
}

ul {
  li {
    margin-bottom: 3px;
  }
}

.fa {
  margin-right: 10px;
}

.clearfix::after {
  display: block;
  content: '';
  clear: both;
}

.container {
  width: 100%;
  max-width: $max-width-default;
  margin: 0 auto;
  padding: 20px;
}

.btn {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 5px;
  text-transform: uppercase;
  font: 300 16px/1.2 $font-text, sans-serif;
  border: 1px solid transparent;
  background: $c-main-first;
  color: $fc-btn-default;

  &.btn_large {
    padding: 13px 10px;
    min-width: 220px;
    font: 400 20px/1 $font-text, sans-serif;
  }

  &.btn_large_alt {
    color: #fff;
    background: transparent;
    padding: 18px 10px;
    min-width: 315px;
    font: 600 21px/1 $font-special, sans-serif;
    border-radius: 30px;
    border: 3px solid $fc-text-lighter;
    margin-bottom: 20px;

    &:hover {
      color: $c-main-second;
      background: #fff;
    }
  }

  &.btn_alt {
    min-width: 80px;
    color: $fc-text-alt;
    border: 1px solid $fc-text-alt;
  }

  &.btn_special {
    font-weight: 600;
    background: transparent;
    color: $c-main-second;
    border-radius: 0;
    border: 3px solid $c-main-second;

    &:hover {
      background: $c-main-second;
      color: #fff;
    }
  }

  &.btn_specific {
    font-weight: 600;
    background: $c-main-second;
    color: #fff;
    border-radius: 0;
    border: 3px solid $c-main-second;

    &:hover {
      color: $c-main-second;
      background: #fff;
    }
  }
}

.decorated {
  &.decorated_color-main-first {
    color: $c-main-first;
  }

  &.decorated_color-main-second {
    color: $c-main-second;

  }

  &.decorated_color-main-third{
    color: $c-main-third;
  }
}

.img-center {
  text-align: center;
}

ul {
  &.bullets {
    li {
      position: relative;
      list-style: none;

      &:before {
        position: absolute;
        content: '';
        border-radius: 50%;
        display: inline-block;
        width: 6px;
        height: 6px;
        top: 8px;
        left: -14px;
        background: $c-main-second;
      }
    }
  }

  &.arrows {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      position: relative;
      padding-left: 20px;
      margin-bottom: 3px;

      &::before {
        content: "\f0a9";
        font-family: 'FontAwesome';
        color: #f6a21d;
        display: block;
        position: absolute;
        left: 0;
        top: 1px;
      }
    }
  }
}


.img-wrap img {
  width: 100%;
  height: auto;
  display: block;
}

.text-message {
  max-width: 300px;
  min-width: 75px;
  min-height: 37px;
  text-align: left;
  line-height: 1.2em;
  color: $fc-text-lighter;
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding: 10px;
  font-size: 14px;
  font-weight: 500;
  background: $c-main-second;
  border-radius: 10px;
  box-shadow: 0 0 2px 0;

  &::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 10px;
    border-width: 10px 10px 0;
    border-style: solid;
    border-color: $c-main-second transparent;
    display: block;
    width: 0;
  }
}

/*
This need for fix troubles when using builder;
*/
.hotfix-row {
  margin-left: -15px;
  margin-right: -15px;
}
/*-------------------*/


/*
  Default view of the builder table
*/
.fw-table {
  border: 1px solid #dddddd;

  table {
    margin-bottom: 0 !important;
  }

  tr {
    &:nth-child(2n) {
      background-color: #f9f9f9;
    }

    &:first-child {
      td {
        border-top: none;
      }
    }

    td {
      &:last-child {
        padding-left: 0;
        padding-right: 0;
        font-size: 13px;
        min-width: 80px;
      }
    }
  }
}
/*************************************/

/*
  WYSIWYG
*/
.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

@media screen and (max-width: 900px) {
  .big-title {
    font: 400 44px/1.2 Open Sans;
  }

  .btn {
    &.btn_large_alt {
      font-size: 16px;
      padding: 12px 10px;
      min-width: 220px;
    }
  }
}

@media screen and (max-width: 600px) {
  h1, .h1 {
    font-size: 32px;
  }

  .big-title {
    font: 400 32px/1.2 Open Sans;
  }

  .btn {
    &.btn_large {
      font-size: 16px;
      padding: 12px 10px;
      min-width: 125px;
    }
  }
}