@media screen and (max-width: 600px) {
  .hotfix-small-text-on-mobile {
    font-size: 18px !important;
  }
}

.fw-iconbox-image {
  color: $c-main-second !important;
}

/**
Form Button fix on prefooter contact block;
 */
.home {
  .fw_form_fw_form {
    .field-text {
      margin-bottom: 15px !important;
    }

    input[type=submit] {
      margin-top: 0;
      font: 700 18px/1 $font-text;
      vertical-align: middle;
      border-radius: 0;
      box-shadow: inset 0 0 3px;
      width: 100%;
      background: transparent;

      &:hover {
        letter-spacing: 0.2em;
        background: inherit;
        box-shadow: inset 0 0 15px;
      }
    }
  }
}
.for-communic{
padding: 10px;
border: 2px solid;
text-transform: uppercase;
  display: block;
  width: 100%;
  text-align: center;
  span{
    font-weight: 600;
  }
  &:hover{
    background: $c-main-second;
    color: #fff;
    transition: .5s;
  }

}

.two-links-feature{
  list-style: none;
  padding-left: 0;

  li{
    display: inline-block;
    width: 49%;
    text-align: center;
    &:first-of-type{
      margin-right: 1%;
    }
    &:last-of-type{
      margin-left: 1%;
    }

    a{
      text-align: center;
      color: #fff;
      background: $c-main-second;
      display: block;
      width: 100%;
      line-height: 40px;
      font-weight: 600;
    }
  }
}

.contact-us-form{
  background-size: cover;
  color: #fff;

  .header.title{
    h2{
      color:#fff;
    }
  }
}

//width: 90px;
//height: 90px;
//align-items: center;
//justify-content: center;
//display: flex;