/**
  Theme Colors
*/
$c-main-first: #2c3744;
$c-main-second: #f16334;
$c-main-third: #f3f5f6;

$c-bg-light: #f3f5f6;
$c-bg-dark: #2c3744;
$c-bg-special: #f3f3f3;
$c-bg-light-gray: #f7f7f7;

/**
  Font colors
*/
$fc-text: #252525;
$fc-text-lighter: #f3f5f6;
$fc-text-darker: #465363;
$fc-text-alt: #98c3e4;

$fc-btn-default: #fff;
$fc-btn-alt: #88bacc;
$fc-btn-special: #10a254;
$fc-link: #2261ac;

/**
  Defaults
*/
$font-title: Gilroy;
$font-text: Open Sans;
$font-special: Gilroy;

/**
  Border-color
*/
$c-border: #ededed;
$max-width-default: 1190px;

/**
  Socials special colors
*/
$c-twitter: #32def4;
$c-instagram: #8048b7;
$c-facebook: #4a6ea9;
$c-linkedin: #227bef;
